.div1{
    width: auto;
    height: 40px;
    /* background-color: rgb(93, 149, 231); */
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    text-align: center;
    font-size: larger;
}
.left{
    text-align: left;
    margin-left: -10px;
}
.div2{
    width: auto;
    height: auto;
    background-color: antiquewhite;
}
.up{
    width: auto;
    height: 60px;
    display: flex;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}
/* #left{
    margin: 20px 0px 0px 70px;
    font-weight: 200;
} */