<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/style.css">
    <title>Buy now</title>
  </head>
  <body>
    <form action="/buy" method="post">
    <div>
    <nav class="navbar p-3 mb-2 bg-primary text-white bar"style="justify-content:center;">
     <img src="image/blank.png" alt="" id="logo"> 
        
        <form class="form-inline">
          <input class="" type="search" style="width: 307px;font-size:17px;" placeholder="Search for product,brand and more" aria-label="Search">
          <button class="" type="submit" style="height: 34px;border-color: beige;">Search</button>
        </form>
        <span style="width: 80px; height:30px;background-color:rgb(171, 222, 185);text-align: center; margin-left: 50px;"><a href="#">Login</a></span>
        <span class="text-white"><a href="#" class="text-white"style="margin-left: 35px;">Become a seller</a></span>
        <span><a href="#" class="text-white" style="margin-left: 35px;">More</a>
        <select name="" id="" style="width:20px; height: 20px; margin-top:10px;">
            <option value="">^</option>
     <option value="Notification preference">Notification preference</option>
     <option value="24x7 Customer care">24x7 Customer care</option>
     <option value="Advertise">Advertise</option>
    </select></span>
    <span ><a href="#" class="text-white"style="margin-left: 35px;"> cart </a></span>
</div></nav></div>
<div></div>
    <div>
      <input type="" name="category">
     <!--  -->
   
        <h1>Product</h1>
    </div>
    <div style="width: 28%; float:left;display:flex">
        <br>
        
        <button id="addtocart"><img src="images/cart.png" style="width: 28%; float:left;display:flex;" alt="" id="cartlogo"><h6>ADD TO CART</h6></button> <button  id="buy"><h6> BUY NOW</h6></button>
        
    </div>

    <div style="width: 70%; float:right;">
<h5>Available offer</h5>
<div> <br><br></div>
<label for="delivery" style="margin-right:40px ;">Delivery</label><input type="number" placeholder="Enter pincode"> <input type="button" value="check">
<br>
<br>
<span style="margin-left:95px ; font-size: 14px;">Enter pincode for exact delivery dates/charges</span> 
<br> <input type="button" value="view Details" style="margin-left: 92px;">
<br><br>
<label for="size" style="margin-right:55px ;">Size</label>   <a href="#" style="margin-right:20px ;">Free size</a> <label for="size"> <a href="#">Size chart</a> </label><select name="" id="">Size chart</select>
<div><h6>Highlights</h6></div>
<div><h6>Specification</h6></div>
<div><h6>Rating & Reviews</h6></div>
</div>

</div>
</form>
  </body>
</html>
