<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styled.css" />
    <link rel="stylesheet" href="css/style.css" />
    <title>detail of a particular product whom to deliver</title>
  </head>
  <body>
    <div class="up"><span id="left"> User Details... </span></div>
    <div id="left">
        <span>
      <!-- <div class="div2">Blank</div> -->
      <div class="div3" style="margin: 2px 0px 0px 0px">
        <span class="aling">Delivery Address </span>
      </div>
      <label for="name"></label>
      <div style="background-color: rgb(224, 239, 249)">
        <input type="text" placeholder="name" required class="margin2" />
        <input
          type="number"
          placeholder="10-digit mobile no." name="contact"
          class="margin2"
        />
        <br />
        <input type="number" placeholder="pin code" required class="margin2" />
        <input type="text" placeholder="Locality" class="margin2" />
        <br />

        <input
          type="text"
          placeholder="Address/Area" name="Area"
          required
          class="margin2"
          style="width: 660px; height: 100px"
        />
        <br />
        <input
          type="text"
          placeholder="City/Dist./Town" name="City"
          required
          class="margin2"
        />
        <input type="text" placeholder="State" name="state" required class="margin2" />
        <br />
        <input type="text" placeholder="Landmark" name="Landmark" class="margin2" />
        <input
          type="number"
          placeholder="Alternate phone" name="Alternate_contact"
          required
          class="margin2"
        />
        <br />
        <input type="radio" name="Address" class="" />
        <label for="Address"> Home(All day Delivery) </label>
        <input type="radio" name="Address" />
        <label for="Address">Deliver between 10AM-5AM</label>
        <br />
        <br />
       
      </div>
    </span>
    </div>
  </body>
</html>



<!-- width: 25%;
min-width: 250px;
padding: 10px 12px;
border: 1 px solid #cce7d0;
border-radius: 25px;
cursor: pointer;
box-shadow: 20px 20px 30px rgb(0 0 0 / 2%);
margin: 15px 0;
transition: 0.2s ease -->