.divider:after,

.divider:before {
    
content: "";
flex: 1;
height: 1px;
background: rgb(144, 33, 33);
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}

#tita {
    padding-top: 0px;
    margin-top: 0px;
}

#titu {
    padding-bottom: -10px;
    margin-bottom: -10px;
}

