body{
    
     max-width: 100%;
     
}

#header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0,0.06);
    z-index: 999;
    position: sticky;
    top:0;
    left:0;
}

#navbar{
    display: flex;
    align-content: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.2s ease;
}

#navbar li a:hover,
#navbar li a.active{
    color: #533483;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content:"";
    width: 35%;
    height: 2px;
    background: #533483;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/* Home page */

#hero{
    background-image: url("../img/bg_image.jpg");
    
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}


#hero h4{
    padding-bottom: 10px;
    color: red;
    font-size: 20px;
}
#hero h1{
    font-size: 50px;
    color:black;
}
#hero h2{
    color: blueviolet;
    font-size: 30px;
    
}
#hero button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  /* .button1{
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
   */
  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }
  #product1{
    text-align: center;
  }
  #product1 .pro-container{
    display:flex;
    justify-content: space-between;
    padding-top: 20px;
  }
  
  #product1 .pro{
    width: 25%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1 px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0,0.02);
    margin: 15px 0;
    transition: 0.2s ease;
  }
  #product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0,0.06);
    
  }

  #product1 .pro .des{
    text-align: start;
    padding: 10px 0;
  }
  #product1 .pro .des span{
    color: #1a1a1a;
    font-size: 12px;
  }

  #product1 .pro img{
    width: 100%;
    border-radius: 20px;
  }

  #product1 .pro .des h5{
    padding-top:8px;
    color:#1a1a1a;
    font-size:14px;

  } 
  #product1 .pro .des i{
    font-size: 12px;
    color:rgb(132, 255, 0);
  }

  #product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: crimson;
  }
  .ftr{
    background-color: black;
    color: white;
    font-size: larger;
    
}
.ftr2{
  color:white ;
  font-size: 16px;
}
.ftr3{
font-size: 22px;
}