#navar{

    justify-content: space-between;

}
#inblok{
    
    display: inline-block;
}
.image{
width: auto;
height: 150px;
display: flex;
justify-content:space-between;
margin-right: 70px;
margin-top: 20px;
padding: 1px;
}
img:hower{
    max-zoom: 3px;
}
.bar{
    font-size:20px;

}
#logo{
    width: 20px;
    height: 20px;
    color:black;
    margin-right: 10pxpx;
}
#buy{
    width: 50%;
    background-color:orangered;
    font-size: 20px;
    height: 45px;
}
#addtocart{
    width: 50%;
    height:45px;
    background-color:darkorange;
    font-size: 20px;
    margin-right: 3%;
}
#cartlogo{
    width: 20px;
    height: 20px;
    margin-left: 1px;
}
#product{
    width: 28%; 
    float:left;
    display:flex"
}
.margin2{
    margin: 10px 20px 20px 20px;
    width: 300px;
    height: 50px;
    font-size: 15px;
}
.save{
    width: 200px;
    height: 40px;
    font-size: 15px;
    background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
}
.div2{
    width: auto;
    height: 60px;
    /* background-color: rgb(67, 144, 226); */
    background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
    text-align: center;
    font-size: 30px;
    text-shadow: 1px 1px black;
    
}
.div3{
    width: 700px;
    height: 60px;
    font-size: 30px;
    text-align: left;
    /* background-color: rgb(0, 170, 255); */
    background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
    margin: 20px;
}
.li2{
    list-style-type: none;
}
.div5{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
}
.upi{
    margin: 0px 0px 0px 0px;
    display: flex;
    display: inline-block;
}
.up{
    margin-Top: 0px;
    margin:2px 0px 0px -20px;
    background-color:rgb(224, 239, 249);
    /* background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%); */

}
.div4{
    width: auto;
    height: 40px;
    margin-bottom:0px 0px 0px 100px;
    font-size: large;
    background-color:rgb(224, 239, 249);
}
.line{
    width: auto;
    height: 1px;
    background-color:rgb(183, 182, 179);
    margin:0px 0px 0px -30px;
}
.gift{
    width: 100vw;
    height: 60px;
    font-size: larger;
    margin:-1px 0px -100px 0px;
    text-align:justify;
    border: 0px;
}
